# Automação Web e Busca de Informações com Python

In [58]:
# SEMPRE QUE FOR USAR O SELENIUM IMPORTAR ESSES 2 POIS VAI FACILITAR O CODIGO E DEIXALO MAIS LEVE
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()

# Passo 1: Cotação dolar
navegador.get('https://www.google.com/')

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dolar')
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
display(cotacao_dolar)
# Passo 2: Cotação Euro
navegador.get('https://www.google.com/')

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
display(cotacao_euro)

# Passo 3: Cotação Ouro
navegador.get('https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20321%2C51.')

cotacao_ouro = navegador.find_element('xpath','//*//*//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')
display(cotacao_ouro)

navegador.quit()

'5.2378'

'5.6177'

'321.86'

In [59]:
# Passo 4: Importar a base de dados e atualizar a base de dados
import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [60]:
# Passo 5: Recalcular os Preços

#Atualizar a cotação

tabela.loc[tabela.Moeda == 'Dólar','Cotação'] = float(cotacao_dolar)

tabela.loc[tabela.Moeda == 'Euro','Cotação'] = float(cotacao_euro)

tabela.loc[tabela.Moeda == 'Ouro','Cotação'] = float(cotacao_ouro)
#Preço de compra = cotação * preço original
tabela['Preço de Compra'] = tabela['Cotação']*tabela['Preço Original']

#Preço de venda = preço de compra * margem
tabela['Preço de Venda'] = tabela['Preço de Compra']*tabela['Margem']
tabela["Preço de Venda"] = tabela["Preço de Venda"].map("R${:.2f}".format)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2378,5237.747622,1.40,R$7332.85
1,Carro Renault,4500.00,Euro,5.6177,25279.650000,2.00,R$50559.30
2,Notebook Dell,899.99,Dólar,5.2378,4713.967622,1.70,R$8013.74
3,IPhone,799.00,Dólar,5.2378,4185.002200,1.70,R$7114.50
4,Carro Fiat,3000.00,Euro,5.6177,16853.100000,1.90,R$32020.89
5,Celular Xiaomi,480.48,Dólar,5.2378,2516.658144,2.00,R$5033.32
6,Joia 20g,20.00,Ouro,321.8600,6437.200000,1.15,R$7402.78

In [61]:
# Passo 6: Exportar a base de dados atualizada
tabela.to_excel('Produtos Novo.xlsx', index=False) # Se colocar o nome do arquivo igual ao original ele ira substituir